<ion-header>
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">
          texto1
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">
          texto2
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="9">
        <div class="texto">
          texto3
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="3">
        <div class="texto">
          texto4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div class="container">
    <button ion-button (click)="redirect()" class="btn">Escanear</button>
  </div> -->
</ion-content>
