button {
  background-color: var(--ion-color-custom);
  border-radius: 3px;
  color: var(--ion-color-custom-contrast);
  font-size: 15px;
  padding: 15px;
}

.container {
  text-align: center;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
}

