<ion-header>
  <ion-toolbar color="custom">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row>
    <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor=" let city of cities">

      <ion-card [routerLink]="['/city',city.id]">
        <img src="assets/img/cities/{{city.image}}.jpg" alt="{{city.name}}">
        <div class="card-title card-text-margin">{{city.name}}</div>
        <div class="card-text-margin">{{city.description.split(' ').slice(0,9).join(' ')}}...</div>
      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>
